<div class="image3 imgBg backgroundSize">
    <div style="height: 20%;">

    </div>
    <div class="container">
        <div class="child">
        </div>
        <div class="child headline1">
            <h1>Hallo und Herzlich Willkommen</h1>
            <p>
                Auf meiner Webseite sehen Sie eine Applikation in der Aktuellen Angular
                Version.
                <br>
                Die aktuelle Version in dieser App ist: Angular {{angularVersion}}
            </p>
        </div>
        <div class="child">
        </div>
    </div>
</div>