<div class="image3 imgBg">
    <div style="height: 20%;">

    </div>
    <div class="container">
        <div class="child">
        </div>
        <div class="child headline1">
            <h1>{{ 'IMPRINT' | translate }}</h1>
            <p>{{ 'IMPRINT_NAME' | translate }}</p>
            <br>
            <p>{{ 'IMPRINT_TEXT_1' | translate }}</p>
            <p>{{ 'IMPRINT_TEXT_2' | translate }}</p>
            <p>{{ 'IMPRINT_TEXT_3' | translate }}</p>
            <p>{{ 'IMPRINT_TEXT_4' | translate }}</p>
        </div>
        <div class="child">
        </div>
    </div>
</div>