<footer class="footer">
    <div class="container">
        <div class="flex" style="width: 50%;">
            <p style="font-size: small;">&copy; 2024 Björn Zimmer. {{'RIGHTS' | translate}}</p>
        </div>
        <div class="flex" style="width: 50%;">
            <ul class="footer-links">
                <li><a href="/impressum">{{'IMPRINT' | translate}}</a></li>
                <li><a href="#">{{'DATA_PROTECTION' | translate}}</a></li>
                <li><a href="#">{{'CONTACT' | translate}}</a></li>
                <li><a href="/information">{{'INFORMATION' | translate}}</a></li>
            </ul>
        </div>
        <div class="flex" style="width: 50%;">
            <p style="font-size: small;">Page Version: {{getVersion()}}</p>
        </div>
    </div>
</footer>