<div class="menuBarContainer">
    <div class="child" style="font-size: large; padding-left: 1.4em; padding-top: 1.4em;">
        Björn Zimmer
    </div>
    <div class="child">
        <p-menubar [model]="menubarItems"></p-menubar>
    </div>
    <div class="child menuItemRIght">
        <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [showClear]="true"
            placeholder="Sprache" class="max-width-dropdown">
            <ng-template pTemplate="selectedItem">
                <div class="container" *ngIf="selectedCountry" (click)="onFlagClick(selectedCountry)">
                    <img [src]="'assets/images/flags/' + selectedCountry.code.toLowerCase() + '.svg'"
                        style="width: 18px;" />
                    <div class="flag-icon">{{ selectedCountry.name }}</div>
                </div>
                <div *ngIf="!selectedCountry" class="flag-icon">Sprache</div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="container" (click)="onFlagClick(country)">
                    <img [src]="'assets/images/flags/' + country.code.toLowerCase() + '.svg'" style="width: 18px" />
                    <div class="flag-icon">{{ country.name }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>

</div>