@import "primeng/resources/themes/bootstrap4-dark-blue/theme.css";

$primary-color: rgb(52, 62, 77);
$secondary-color: lightgrey;
$background-color: black;
// $text-color: ;
$p-menubar: white;


html,
body {
    background-color: $background-color;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

a {
    color: white;
}

a:visited {
    color: $secondary-color;
}

a:hover {
    color: lightskyblue;
}

.child {
    flex: 1;
}

.child2 {
    flex: 2;
}

.container {
    display: flex;
}

div {
    font-size: small;
}

.flag {
    width: 18px;
    margin-right: 5px;
}

.flag-icon {
    padding-left: 5px;
}

h1 {
    font-size: xx-large;
}

h1,
h2,
h3 {
    padding-left: 0.5em;
}

.headline1 {
    min-width: 550px;
    width: 50%;
    height: auto;
    background-color: rgba($background-color, 0.6);
    vertical-align: middle;
}

.image1 {
    background-image: url(../src/assets/images/background-blue.png);
}

.image2 {
    background-image: url(../src/assets/images/binary-code-4k-computer-code-programming-zeroes-and-units.png);
}

.image3 {
    background-image: url(../src/assets/images/rpa-concept-with-blurry-hand-touching-screen.png);
}

.imgBg {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    height: 100%;
    background-position: center center;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.main {
    height: 88%;
}

.max-width-dropdown {
    width: 120px !important;
    max-width: 120px !important;
    min-width: 120px !important;
    padding-top: 15px;
}

.menuBarContainer {
    background: rgba($primary-color, 1.0);
    display: flex;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.menuItemRIght {
    justify-content: end;
    display: flex;
    overflow-x: clip;
}

.p-dropdown {
    display: flex;
}

.p-dropdown-label {
    text-overflow: clip;
}

.p-dropdown-panel {
    background-color: rgba($background-color, 0.7);
}

.p-menuitem-text {
    font-size: large;
    text-align: center;
}

.p-menubar {
    color: $p-menubar;
}

.p-menubar .p-menuitem.p-highlight>.p-menuitem-content {
    background: fixed;
}

.p-menubar .p-submenu-list {
    border: revert-layer;
    border-color: rgba(0, 0, 0, 0.7);
    border-top-style: none;
}

.p-menubar {
    display: flex;
    justify-content: center;
}

.p-menubar-button .p-icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-top: 0.4rem;
}

@media screen and (max-width: 960px) {
    .p-menubar .p-menubar-button {
        background: rgba($background-color, 0.6) !important;
        width: 5em;
        height: 2rem;
        color: rgba($p-menubar, 0.6);
        border-radius: 50%;
        transition: color 0.15s, box-shadow 0.15s;
    }
}

@media screen and (max-width: 960px) {
    .p-menubar {
        position: relative;
        display: grid !important;

    }
}

p {
    padding-left: 1.1em;
    padding-right: 1.1em;
    font-size: medium;
}

.whiteBox {
    border-color: white;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 30px;
    max-width: 400px;
    padding: 3px;
}

.whiteBoxForComponent {
    border-color: white;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 30px;
    max-width: 100%;
    padding: 3px;
    margin: 5px;
}

.footer {
    background-color: #343e4d;
    padding: 5px 0;
    text-align: center;
    color: #ffffff;
    bottom: 0;
    position: sticky;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    overflow-y: auto;
    height: -webkit-fill-available;
}

app-footer {
    flex-shrink: 0;
}